In [14]:
import boto3

sts_client = boto3.client(
    "sts",
    aws_access_key_id="AKIAZ5Q72UUKUMYNIJO7",
    aws_secret_access_key="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",
    region_name="eu-north-1"
)

assumed_role = sts_client.assume_role(
    RoleArn="arn:aws:iam::681892816149:role/UIDAI-Data-Engineer-Role",
    RoleSessionName="DataEngineeringSession"
)

credentials = assumed_role["Credentials"]

s3 = boto3.client(
    "s3",
    aws_access_key_id=credentials["AccessKeyId"],
    aws_secret_access_key=credentials["SecretAccessKey"],
    aws_session_token=credentials["SessionToken"],
    region_name="ap-south-1"
)

In [15]:
import pandas as pd
from io import BytesIO

In [16]:
BUCKET_NAME = "aadhaar-raw-data"
FILE_KEY = "api_data_aadhar_biometric/api_data_aadhar_biometric_1000000_1500000.csv"

response = s3.get_object(
    Bucket=BUCKET_NAME,
    Key=FILE_KEY
)

df = pd.read_csv(BytesIO(response["Body"].read()))

df.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,07-11-2025,Haryana,Yamuna Nagar,135002,4,6
1,07-11-2025,Haryana,Yamunanagar,135001,1,2
2,07-11-2025,Himachal Pradesh,Bilaspur,174004,2,2
3,07-11-2025,Himachal Pradesh,Bilaspur,174005,1,0
4,07-11-2025,Himachal Pradesh,Bilaspur,174013,3,1

In [18]:
csv_files = [
    "api_data_aadhar_biometric/api_data_aadhar_biometric_0_500000.csv",
    "api_data_aadhar_biometric/api_data_aadhar_biometric_500000_1000000.csv",
    "api_data_aadhar_biometric/api_data_aadhar_biometric_1000000_1500000.csv",
    "api_data_aadhar_biometric/api_data_aadhar_biometric_1500000_1861108.csv"
]

In [20]:
def clean_dataframe(df):
    df.columns = df.columns.str.strip().str.lower()

    df = df.dropna(how="all")

    for col in ["state", "district"]:
        df[col] = df[col].astype(str).str.strip().str.title()

    df["date"] = pd.to_datetime(df["date"], errors="coerce", dayfirst=True)


    df["pincode"] = pd.to_numeric(df["pincode"], errors="coerce").astype("Int64")

    bio_cols = ["bio_age_5_17", "bio_age_17_"]
    for col in bio_cols:
        df[col] = pd.to_numeric(df[col], errors="coerce")

    df = df.dropna(subset=["date", "state"])

    return df

In [21]:
cleaned_dfs = []

for file_key in csv_files:
    print(f"Processing: {file_key}")
    
    response = s3.get_object(
        Bucket=BUCKET_NAME,
        Key=file_key
    )
    
    df = pd.read_csv(BytesIO(response["Body"].read()))
    df = clean_dataframe(df)
    
    cleaned_dfs.append(df)

final_df = pd.concat(cleaned_dfs, ignore_index=True)

print("✅ All BIOMETRIC CSV files cleaned & merged")
print(final_df.shape)

final_df.head()

Processing: api_data_aadhar_biometric/api_data_aadhar_biometric_0_500000.csv
Processing: api_data_aadhar_biometric/api_data_aadhar_biometric_500000_1000000.csv
Processing: api_data_aadhar_biometric/api_data_aadhar_biometric_1000000_1500000.csv
Processing: api_data_aadhar_biometric/api_data_aadhar_biometric_1500000_1861108.csv
✅ All BIOMETRIC CSV files cleaned & merged
(1861108, 6)

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,2025-03-01,Haryana,Mahendragarh,123029,280,577
1,2025-03-01,Bihar,Madhepura,852121,144,369
2,2025-03-01,Jammu And Kashmir,Punch,185101,643,1091
3,2025-03-01,Bihar,Bhojpur,802158,256,980
4,2025-03-01,Tamil Nadu,Madurai,625514,271,815

In [22]:
from io import StringIO

csv_buffer = StringIO()
final_df.to_csv(csv_buffer, index=False)

s3.put_object(
    Bucket="aadhaar-cleansed-data",
    Key="aadhaar_biometric_cleaned.csv",
    Body=csv_buffer.getvalue()
)

print("✅ Biometric cleaned data uploaded")

✅ Biometric cleaned data uploaded

In [23]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus

DB_USER = "postgres"
DB_PASSWORD = quote_plus("Sudhanshu@05")   
DB_HOST = "localhost"                      
DB_PORT = "5432"
DB_NAME = "adhaar_db"

engine = create_engine(
    f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
)

engine.connect()
print("✅ PostgreSQL connected successfully")

✅ PostgreSQL connected successfully

In [25]:
final_df.to_sql(
    name="aadhar_biometric",
    con=engine,
    if_exists="append",   
    index=False,
    method="multi",
    chunksize=5000
)

print("✅ Biometric data inserted into PostgreSQL")

✅ Biometric data inserted into PostgreSQL

In [26]:
csv_files = [ "api_data_aadhar_demographic/api_data_aadhar_demographic_0_500000.csv", 
              "api_data_aadhar_demographic/api_data_aadhar_demographic_500000_1000000.csv",
              "api_data_aadhar_demographic/api_data_aadhar_demographic_1000000_1500000.csv",
              "api_data_aadhar_demographic/api_data_aadhar_demographic_1500000_2000000.csv",
              "api_data_aadhar_demographic/api_data_aadhar_demographic_2000000_2071700.csv" ]

In [27]:
def clean_dataframe(df):
    df.columns = df.columns.str.strip().str.lower()

    df = df.dropna(how="all")

    for col in ["state", "district"]:
        df[col] = df[col].astype(str).str.strip().str.title()

    df["date"] = pd.to_datetime(df["date"], errors="coerce", dayfirst=True)

    df["pincode"] = pd.to_numeric(df["pincode"], errors="coerce").astype("Int64")

    demo_cols = ["demo_age_5_17", "demo_age_17_"]
    for col in demo_cols:
        df[col] = pd.to_numeric(df[col], errors="coerce")

    df = df.dropna(subset=["date", "state"])

    return df

In [28]:
from io import BytesIO
import pandas as pd

cleaned_dfs = []

for file_key in csv_files:
    print(f"Processing: {file_key}")
    
    response = s3.get_object(
        Bucket=BUCKET_NAME,
        Key=file_key
    )
    
    df = pd.read_csv(BytesIO(response["Body"].read()))
    
    df = clean_dataframe(df)
    
    cleaned_dfs.append(df)

final_df = pd.concat(cleaned_dfs, ignore_index=True)

print("✅ All DEMOGRAPHIC CSV files cleaned & merged")
print("Shape:", final_df.shape)

final_df.head()

Processing: api_data_aadhar_demographic/api_data_aadhar_demographic_0_500000.csv
Processing: api_data_aadhar_demographic/api_data_aadhar_demographic_500000_1000000.csv
Processing: api_data_aadhar_demographic/api_data_aadhar_demographic_1000000_1500000.csv
Processing: api_data_aadhar_demographic/api_data_aadhar_demographic_1500000_2000000.csv
Processing: api_data_aadhar_demographic/api_data_aadhar_demographic_2000000_2071700.csv
✅ All DEMOGRAPHIC CSV files cleaned & merged
Shape: (2071700, 6)

        date           state    district  pincode  demo_age_5_17  demo_age_17_
0 2025-03-01   Uttar Pradesh   Gorakhpur   273213             49           529
1 2025-03-01  Andhra Pradesh    Chittoor   517132             22           375
2 2025-03-01         Gujarat      Rajkot   360006             65           765
3 2025-03-01  Andhra Pradesh  Srikakulam   532484             24           314
4 2025-03-01       Rajasthan     Udaipur   313801             45           785

In [29]:
csv_buffer = StringIO()
final_df.to_csv(csv_buffer, index=False)

s3.put_object(
    Bucket="aadhaar-cleansed-data",
    Key="aadhaar_demographic_cleaned.csv",
    Body=csv_buffer.getvalue()
)

print("✅ Demographic cleaned data uploaded")

✅ Demographic cleaned data uploaded

In [30]:
final_df.to_sql(
    name="aadhar_demographic",
    con=engine,
    if_exists="append",
    index=False,
    method="multi",
    chunksize=5000
)

print("✅ Demographic data inserted in PostgreSQL")

✅ Demographic data inserted in PostgreSQL

In [31]:
csv_files = [ "api_data_aadhar_enrolment/api_data_aadhar_enrolment_0_500000.csv",
              "api_data_aadhar_enrolment/api_data_aadhar_enrolment_500000_1000000.csv",
              "api_data_aadhar_enrolment/api_data_aadhar_enrolment_1000000_1006029.csv" ]

In [32]:
def clean_dataframe(df):
    df.columns = df.columns.str.strip().str.lower()

    df = df.dropna(how="all")

    for col in ["state", "district"]:
        if col in df.columns:
            df[col] = df[col].astype(str).str.strip().str.title()

    if "date" in df.columns:
        df["date"] = pd.to_datetime(df["date"], errors="coerce", dayfirst=True)

    if "pincode" in df.columns:
        df["pincode"] = pd.to_numeric(df["pincode"], errors="coerce").astype("Int64")

    age_cols = ["age_0_5", "age_5_17", "age_18_greater"]
    for col in age_cols:
        if col in df.columns:
            df[col] = pd.to_numeric(df[col], errors="coerce")

    required_cols = [col for col in ["date", "state"] if col in df.columns]
    df = df.dropna(subset=required_cols)

    return df

In [33]:
from io import BytesIO
import pandas as pd

cleaned_dfs = []

for file_key in csv_files:
    print(f"Processing: {file_key}")
    
    response = s3.get_object(
        Bucket=BUCKET_NAME,
        Key=file_key
    )
    
    df = pd.read_csv(BytesIO(response["Body"].read()))
    
    df = clean_dataframe(df)
    
    cleaned_dfs.append(df)

final_df = pd.concat(cleaned_dfs, ignore_index=True)

print("✅ All Enrollment CSV files cleaned & merged")
print("Shape:", final_df.shape)

final_df.head()

Processing: api_data_aadhar_enrolment/api_data_aadhar_enrolment_0_500000.csv
Processing: api_data_aadhar_enrolment/api_data_aadhar_enrolment_500000_1000000.csv
Processing: api_data_aadhar_enrolment/api_data_aadhar_enrolment_1000000_1006029.csv
✅ All Enrollment CSV files cleaned & merged
Shape: (1006029, 7)

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,2025-03-02,Meghalaya,East Khasi Hills,793121,11,61,37
1,2025-03-09,Karnataka,Bengaluru Urban,560043,14,33,39
2,2025-03-09,Uttar Pradesh,Kanpur Nagar,208001,29,82,12
3,2025-03-09,Uttar Pradesh,Aligarh,202133,62,29,15
4,2025-03-09,Karnataka,Bengaluru Urban,560016,14,16,21

In [34]:
csv_buffer = StringIO()
final_df.to_csv(csv_buffer, index=False)

s3.put_object(
    Bucket="aadhaar-cleansed-data",
    Key="aadhaar_enrolment_cleaned.csv",
    Body=csv_buffer.getvalue()
)

print("✅ Enrollment cleaned data uploaded")

✅ Enrollment cleaned data uploaded

In [35]:
final_df.to_sql(
    name="aadhar_enrollment",
    con=engine,
    if_exists="append",
    index=False,
    method="multi",
    chunksize=5000
)

print("✅ Enrollment data inserted in PostgreSQL")

✅ Enrollment data inserted in PostgreSQL